/* Default parameters*/
/* - end of default parameters -------*/
.smpl_table_all {
  text-align: center;
}

.smpl_table {
  /*width: 100%;*/
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  line-height: var(--sp1);
}

.smpl_table,
.smpl_pager {
  display: inline-block;
}

#smpl_point_area,
#smpl_zoom_area,
#smpl_histogram_area {
  display: block;
}

.smpl_hist_img {
  width: 100px;
  height: 5em;
  border: 1px solid #D0D0D0;
}

#smpl_histogram_area {
  display: flex;
  align-items: center;
}

:is(.smpl_table) td,
:is(.smpl_table) th {
  padding-block: 0 !important;
  padding-inline-end: 0 !important;
  padding-inline-start: 0 !important;
  border-block-end: 0 !important;
}

.smpl_item_container {
  width: 24%;
  border-bottom: 1px solid #D0D0D0;
  padding: 0.2em;
  min-width: 150px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  margin-left: 1px;
  margin-top: 1px;
}

.smpl_last_item_container {
  border-bottom: 1px solid #D0D0D0;
  width: 96%;
}

.smpl_table:last-child {
  border-bottom: none;
}

.smpl_item_div {
  max-height: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

a.smpl_a {
  text-decoration: none;
  border: 0;
}

a.smpl_a:hover {
  text-decoration: none;
  border: 0;
}

.smpl_item {
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.smpl_img {
  max-height: 120px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto !important;
  cursor: pointer;
}

.smploth {
  margin-top: 0.2em;
}

.smpl_view_last,
.smpl_view_number {
  display: block;
}

#smpl_glogo {
  height: 1.8em;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5em;
}

.smpl_view,
.smpl_size,
.smpl_exif,
.smpl_exif_div,
.smpl_date,
.smpl_desc_a,
.smpl_tax,
.smpl_list,
#smpl_list {
  text-align: center;
}

#smpl_sub,
#smpl_usub,
textarea#smpl_ai_check {
  width: 80%;
}

.smpl_sub_text,
.smpl_view_text,
.smpl_size_text,
.smpl_date_text {
  display: inline;
  border-width: 0;
  display: inline;
  width: 100%;
  clear: both;
}

#smpl_usize,
#smpl_utime {
  width: 10em !important;
  max-width: 10em !important;
  text-align: right;
}

.smpl_subtitle {
  margin-bottom: 0.2em;
}

.smpl_subtitle,
.smpl_viewnumber {
  display: block;
}

.smpl_sub_text {
  word-wrap: break-word;
}

/* Properties */
.smpl_info {
  text-align: center;
  border-style: inset;
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: #D0D0D0;
  border-radius: 0.2em;
}

.smpl_info_td {
  text-align: center;
  vertical-align: middle;
  font-size: 0.8em;
}

.smpl_url_hide {
  display: none;
}

.smpl_url_show {
  display: block;
}

.smpl_edit_form {
  padding: 8px;
}

#SmplFormTable {
  margin-block-start: 0;
  margin-block-end: 0;
}

div#sortorder {
  display: inline;
  line-height: var(--sp2);
}

/* buttons */
.smpl_pager_button > button,
.smpl_url_plus,
.smpl_sel,
#smpl_list,
#smpl_sortorder,
#smpl_ascdesc {
  font-size: 0.8em;
  border-radius: 0.2em;
  margin: 2px;
  padding: 2px 2px 2px 2px;
  text-align: center;
  background-repeat: no-repeat;
}

.smpl_buttons {
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

.smpl_actbutton {
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 98%;
  cursor: pointer !important;
  font-weight: 500;
  font-size: small;
  border-radius: 0.2em;
}

.smpl_button {
  background-position: center 66%;
  background-repeat: no-repeat;
  cursor: pointer !important;
  background-position-y: center;
  border: 1px solid rgb(166.4, 166.4, 166.4);
  border-radius: 0.2em;
  width: var(--sp2);
  background-size: 24px;
}

.smpl_help_link:hover {
  cursor: help;
}

.smpl_hist_img {
  display: inline;
}

select,
input,
button,
.smpl_button {
  height: var(--sp2) !important;
  min-height: var(--sp2) !important;
}

select {
  padding-inline-start: 0 !important;
}

.right_corner {
  float: right;
}

.smpl_ai_col {
  background-image: url("../image/b_ai_col.png");
}

.smpl_ai_check_col {
  background-image: url("../image/b_ai_check_col.png");
}

.smpl_add_col {
  background-image: url("../image/b_add_col.png");
}

.smpl_addnoise_col {
  background-image: url("../image/b_addnoise_col.png");
}

.smpl_blur_col {
  background-image: url("../image/b_blur_col.png");
}

.smpl_border_col {
  background-image: url("../image/b_border_col.png");
}

.smpl_brightness_col {
  background-image: url("../image/b_brightness_col.png");
}

.smpl_cancel_col {
  background-image: url("../image/b_cancel_col.png");
}

.smpl_close_col {
  background-image: url("../image/b_close_col.png");
}

.smpl_color_col {
  background-image: url("../image/b_color_col.png");
}

.smpl_convert_col {
  background-image: url("../image/b_convert_col.png");
}

.smpl_convolution_col {
  background-image: url("../image/b_convolution_col.png");
}

.smpl_correction_col {
  background-image: url("../image/b_correction_col.png");
}

.smpl_upload_file_col {
  background-image: url("../image/b_upload_col.png");
}

.smpl_cache_clear_col {
  background-image: url("../image/b_cache_col.png");
}

.smpl_contrast_col {
  background-image: url("../image/b_contrast_col.png");
}

.smpl_crop_col {
  background-image: url("../image/b_crop_col.png");
}

.smpl_delete_col {
  background-image: url("../image/b_delete_col.png");
}

.smpl_denoise_col {
  background-image: url("../image/b_denoise_col.png");
}

.smpl_spec_col {
  background-image: url("../image/b_spec_col.png");
}

.smpl_distortion_col {
  background-image: url("../image/b_distortion_col.png");
}

.smpl_div_close_col {
  background-image: url("../image/b_close_col.png");
}

.smpl_div_new_col {
  background-image: url("../image/b_newtab_col.png");
}

.smpl_edge_col {
  background-image: url("../image/b_edge_col.png");
}

.smpl_edit_col {
  background-image: url("../image/b_edit_col.png");
}

.smpl_edit_all_col {
  background-image: url("../image/b_edit_col.png");
}

.smpl_effect_col {
  background-image: url("../image/b_effect_col.png");
}

.smpl_emboss_col {
  background-image: url("../image/b_emboss_col.png");
}

.smpl_enhance_col {
  background-image: url("../image/b_enhance_col.png");
}

.smpl_exposure_col {
  background-image: url("../image/b_exposure_col.png");
}

.smpl_faceedit_col {
  background-image: url("../image/b_faceedit_col.png");
}

.smpl_flip_horiz_col {
  background-image: url("../image/b_flip_horiz_col.png");
}

.smpl_flip_vert_col {
  background-image: url("../image/b_flip_vert_col.png");
}

.smpl_gamma_col {
  background-image: url("../image/b_gamma_col.png");
}

.smpl_geometry_col {
  background-image: url("../image/b_geometry_col.png");
}

.smpl_grain_col {
  background-image: url("../image/b_grain_col.png");
}

.smpl_grayscale_col {
  background-image: url("../image/b_grayscale_col.png");
}

.smpl_help_link_col {
  background-image: url("../image/b_help_col.png");
}

.smpl_help_close_col {
  background-image: url("../image/b_close_col.png");
}

.smpl_hue_col {
  background-image: url("../image/b_hue_col.png");
}

.smpl_init_col {
  background-image: url("../image/b_init_col.png");
}

.smpl_imgedit_col {
  background-image: url("../image/b_imgedit_col.png");
}

.smpl_imgedit_form_done_col {
  background-image: url("../image/b_done_col.png");
}

.smpl_lens_col {
  background-image: url("../image/b_lens_col.png");
}

.smpl_lighting_col {
  background-image: url("../image/b_lighting_col.png");
}

.smpl_liquify_col {
  background-image: url("../image/b_liquify_col.png");
}

.smpl_noise_col {
  background-image: url("../image/b_noise_col.png");
}

.smpl_folder_col {
  background-image: url("../image/b_folder_col.png");
}

.smpl_perspective_col {
  background-image: url("../image/b_perspective_col.png");
}

.smpl_redeye_col {
  background-image: url("../image/b_redeye_col.png");
}

.smpl_redo_col {
  background-image: url("../image/b_redo_col.png");
}

.smpl_rename_col {
  background-image: url("../image/b_rename_col.png");
}

.smpl_repair_col {
  background-image: url("../image/b_repair_col.png");
}

.smpl_reset_col {
  background-image: url("../image/b_reset_col.png");
}

.smpl_resize_col {
  background-image: url("../image/b_resize_col.png");
}

.smpl_rgb_col {
  background-image: url("../image/b_rgb_col.png");
}

.smpl_rotate_col {
  background-image: url("../image/b_rotate_col.png");
}

.smpl_rotate_flip_col {
  background-image: url("../image/b_rotate_flip_col.png");
}

.smpl_saturation_col {
  background-image: url("../image/b_saturation_col.png");
}

.smpl_save_col {
  background-image: url("../image/b_save_col.png");
}

.smpl_saveas_col {
  background-image: url("../image/b_saveas_col.png");
}

.smpl_slide_col {
  background-image: url("../image/b_slide_col.png");
}

.smpl_filter_btn_col {
  background-image: url("../image/b_filter_col.png");
}

.smpl_sel_col {
  background-image: url("../image/b_browse_col.png");
}

.smpl_sharp_col {
  background-image: url("../image/b_sharpen_col.png");
}

.smpl_skintune_col {
  background-image: url("../image/b_skintune_col.png");
}

.smpl_thumb_col {
  background-image: url("../image/b_thumb_col.png");
}

.smpl_url_plus_col {
  background-image: url("../image/b_link_col.png");
}

.smpl_undo_col {
  background-image: url("../image/b_undo_col.png");
}

.smpl_videdit_col {
  background-image: url("../image/b_videdit_col.png");
}

.smpl_vignette_col {
  background-image: url("../image/b_vignette_col.png");
}

.smpl_watermark_col {
  background-image: url("../image/b_watermark_col.png");
}

.smpl_ai_bw {
  background-image: url("../image/b_ai_bw.png");
}

.smpl_ai_check_bw {
  background-image: url("../image/b_ai_check_bw.png");
}

.smpl_add_bw {
  background-image: url("../image/b_add_bw.png");
}

.smpl_addnoise_bw {
  background-image: url("../image/b_addnoise_bw.png");
}

.smpl_blur_bw {
  background-image: url("../image/b_blur_bw.png");
}

.smpl_border_bw {
  background-image: url("../image/b_border_bw.png");
}

.smpl_brightness_bw {
  background-image: url("../image/b_brightness_bw.png");
}

.smpl_cancel_bw {
  background-image: url("../image/b_cancel_bw.png");
}

.smpl_close_bw {
  background-image: url("../image/b_close_bw.png");
}

.smpl_color_bw {
  background-image: url("../image/b_color_bw.png");
}

.smpl_convert_bw {
  background-image: url("../image/b_convert_bw.png");
}

.smpl_convolution_bw {
  background-image: url("../image/b_convolution_bw.png");
}

.smpl_correction_bw {
  background-image: url("../image/b_correction_bw.png");
}

.smpl_upload_file_bw {
  background-image: url("../image/b_upload_bw.png");
}

.smpl_cache_clear_bw {
  background-image: url("../image/b_cache_bw.png");
}

.smpl_contrast_bw {
  background-image: url("../image/b_contrast_bw.png");
}

.smpl_crop_bw {
  background-image: url("../image/b_crop_bw.png");
}

.smpl_delete_bw {
  background-image: url("../image/b_delete_bw.png");
}

.smpl_denoise_bw {
  background-image: url("../image/b_denoise_bw.png");
}

.smpl_spec_bw {
  background-image: url("../image/b_spec_bw.png");
}

.smpl_distortion_bw {
  background-image: url("../image/b_distortion_bw.png");
}

.smpl_div_close_bw {
  background-image: url("../image/b_close_bw.png");
}

.smpl_div_new_bw {
  background-image: url("../image/b_newtab_bw.png");
}

.smpl_edge_bw {
  background-image: url("../image/b_edge_bw.png");
}

.smpl_edit_bw {
  background-image: url("../image/b_edit_bw.png");
}

.smpl_edit_all_bw {
  background-image: url("../image/b_edit_bw.png");
}

.smpl_effect_bw {
  background-image: url("../image/b_effect_bw.png");
}

.smpl_emboss_bw {
  background-image: url("../image/b_emboss_bw.png");
}

.smpl_enhance_bw {
  background-image: url("../image/b_enhance_bw.png");
}

.smpl_exposure_bw {
  background-image: url("../image/b_exposure_bw.png");
}

.smpl_faceedit_bw {
  background-image: url("../image/b_faceedit_bw.png");
}

.smpl_flip_horiz_bw {
  background-image: url("../image/b_flip_horiz_bw.png");
}

.smpl_flip_vert_bw {
  background-image: url("../image/b_flip_vert_bw.png");
}

.smpl_gamma_bw {
  background-image: url("../image/b_gamma_bw.png");
}

.smpl_geometry_bw {
  background-image: url("../image/b_geometry_bw.png");
}

.smpl_grain_bw {
  background-image: url("../image/b_grain_bw.png");
}

.smpl_grayscale_bw {
  background-image: url("../image/b_grayscale_bw.png");
}

.smpl_help_link_bw {
  background-image: url("../image/b_help_bw.png");
}

.smpl_help_close_bw {
  background-image: url("../image/b_close_bw.png");
}

.smpl_hue_bw {
  background-image: url("../image/b_hue_bw.png");
}

.smpl_init_bw {
  background-image: url("../image/b_init_bw.png");
}

.smpl_imgedit_bw {
  background-image: url("../image/b_imgedit_bw.png");
}

.smpl_imgedit_form_done_bw {
  background-image: url("../image/b_done_bw.png");
}

.smpl_lens_bw {
  background-image: url("../image/b_lens_bw.png");
}

.smpl_lighting_bw {
  background-image: url("../image/b_lighting_bw.png");
}

.smpl_liquify_bw {
  background-image: url("../image/b_liquify_bw.png");
}

.smpl_noise_bw {
  background-image: url("../image/b_noise_bw.png");
}

.smpl_folder_bw {
  background-image: url("../image/b_folder_bw.png");
}

.smpl_perspective_bw {
  background-image: url("../image/b_perspective_bw.png");
}

.smpl_redeye_bw {
  background-image: url("../image/b_redeye_bw.png");
}

.smpl_redo_bw {
  background-image: url("../image/b_redo_bw.png");
}

.smpl_rename_bw {
  background-image: url("../image/b_rename_bw.png");
}

.smpl_repair_bw {
  background-image: url("../image/b_repair_bw.png");
}

.smpl_reset_bw {
  background-image: url("../image/b_reset_bw.png");
}

.smpl_resize_bw {
  background-image: url("../image/b_resize_bw.png");
}

.smpl_rgb_bw {
  background-image: url("../image/b_rgb_bw.png");
}

.smpl_rotate_bw {
  background-image: url("../image/b_rotate_bw.png");
}

.smpl_rotate_flip_bw {
  background-image: url("../image/b_rotate_flip_bw.png");
}

.smpl_saturation_bw {
  background-image: url("../image/b_saturation_bw.png");
}

.smpl_save_bw {
  background-image: url("../image/b_save_bw.png");
}

.smpl_saveas_bw {
  background-image: url("../image/b_saveas_bw.png");
}

.smpl_slide_bw {
  background-image: url("../image/b_slide_bw.png");
}

.smpl_filter_btn_bw {
  background-image: url("../image/b_filter_bw.png");
}

.smpl_sel_bw {
  background-image: url("../image/b_browse_bw.png");
}

.smpl_sharp_bw {
  background-image: url("../image/b_sharpen_bw.png");
}

.smpl_skintune_bw {
  background-image: url("../image/b_skintune_bw.png");
}

.smpl_thumb_bw {
  background-image: url("../image/b_thumb_bw.png");
}

.smpl_url_plus_bw {
  background-image: url("../image/b_link_bw.png");
}

.smpl_undo_bw {
  background-image: url("../image/b_undo_bw.png");
}

.smpl_videdit_bw {
  background-image: url("../image/b_videdit_bw.png");
}

.smpl_vignette_bw {
  background-image: url("../image/b_vignette_bw.png");
}

.smpl_watermark_bw {
  background-image: url("../image/b_watermark_bw.png");
}

/* Save AS div*/
div#smpl_saveas {
  display: none;
  z-index: 10;
  position: absolute;
  border: 1px solid rgb(145.6, 145.6, 145.6);
  border-radius: 0.2em;
  padding: 0.5em;
  left: 38%;
  background-color: #DFEDF7;
}

input#smpl_saveas_input,
button#SmplImgEditFormSaveAsOK,
button#SmplImgEditFormSaveAsCancel {
  vertical-align: middle;
}

/* Pager */
.smpl_pager {
  margin-top: 4px;
  margin-bottom: 4px;
}

/* pager buttons */
.smpl_pager_button {
  background-color: #EDF5FA;
  border-radius: 0.2em;
  cursor: pointer;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: small;
  text-align: center;
}

.smpl_pager_current {
  background-color: rgb(160.7739130435, 202.652173913, 228.8260869565);
  border-radius: 0.2em;
}

/* Exif settings*/
.smpl_exif_div {
  border-top: 1px solid #D0D0D0;
}

.smpl_exif_table {
  margin-bottom: 0.1em !important;
  margin-top: 0.1em !important;
  width: 100%;
}
.smpl_exif_table tr th {
  border-top: 1px solid #D0D0D0;
  border-bottom: 1px solid #D0D0D0;
}

.smpl_exif_tr > td {
  text-align: left;
  border-right: 1px solid rgb(187.2, 187.2, 187.2);
  text-wrap: nowrap;
}

.smpl_detailed_exif_info {
  position: absolute;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  background-color: #EDF5FA;
  padding: 2px;
  z-index: 256;
  cursor: pointer;
}

.smpl_desc_title {
  border-bottom: 1px solid #D0D0D0;
  font-weight: 600;
}

.smpl_desc_info {
  display: none;
  position: absolute;
  text-align: left;
  z-index: 256;
  cursor: pointer;
  min-width: 30em;
}

/* statistics table*/
.smpl_stat {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0em;
  padding: 1em;
  /*overflow: auto;*/
  margin: 0 auto;
}

#smpl_stat_table {
  border-collapse: inherit;
}

#smpl_stat_table > tbody > tr > th,
#smpl_stat_table > tbody > tr > td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.smpl_stat_row {
  border: 1px solid #D0D0D0;
}

.smpl_stat_tdleft {
  text-align: left;
  border-right: 1px solid rgb(166.4, 166.4, 166.4);
}

.smpl_stat_tdval {
  text-align: center;
}

/* visibility, position, etc*/
div#SmplEditForm,
div#SmplUploadForm,
div#SmplFolderForm,
div#SmplImgEditForm,
div#SmplVidEditForm {
  display: none;
  z-index: 2;
  justify-content: center;
  position: absolute;
  top: 3em;
  background-color: #CCC;
  font-size: small !important;
}

/*--------- EditForm --------------*/
div#SmplEditForm > table > tr > td,
div#SmplUploadForm > table > tr > td div#Smplfolderform > table > tr > td {
  text-align: left;
}

div#SmplEditFormData,
div#SmplUploadFormData,
div#SmplFolderFormData {
  border: 0;
  padding: 0;
  margin: 0;
}

/* ---------- UploadForm, FolderForm ------------------- */
#smpl_uname {
  padding: 0 !important;
  border: 0 !important;
  background-color: transparent !important;
}

#SmplUploadTable,
#SmplFolderTable {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* only the parameters of view*/
/* Img Edit css settings */
.smpl_window_form,
.smpl_desc_info,
#smpl_stat_table,
.smpl_help {
  border: 2px ridge #D0D0D0;
  border-radius: 0.2em;
  padding: 0.5em;
  background-color: #CCC;
}

.smpl_imgedit_img {
  max-width: 100%;
}

.smpl_audiohtml5,
.smpl_videohtml5 {
  max-width: 100%;
  border-radius: 0.2em;
}

/*------- ImgEdit Form --------*/
div#SmplCanvasContainer {
  position: relative;
  left: 0;
  top: 0;
  max-width: 100%;
  max-height: 74%;
  min-height: 300px;
  border: 1px #D0D0D0 dotted;
  padding: 0.1em;
}

canvas#SmplCanvas {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  border: 1px solid #D0D0D0;
}

.smpl_pop_title {
  max-width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
}

.smpl_pop_title > h3 {
  display: inline;
  margin: 0;
  padding: 0;
}

.smpl_pop_title,
.smpl_edit_props {
  border-bottom: 1px solid rgb(166.4, 166.4, 166.4);
  margin-bottom: 0.1em;
}

.smpl_imgedit_filename {
  display: inline;
}

.smpl_imgedit_actions {
  font-size: small;
  text-align: left;
  min-width: 200px;
  max-height: 80%;
  width: 100%;
  border-bottom: 1px solid #D0D0D0;
}

#smpl_imgedit_menu {
  list-style-type: none;
}

div.smpl_menu {
  display: none;
  border: 1px black dotted;
}

#smpl_imgedit_menu > li {
  float: left;
  display: block;
}
#smpl_imgedit_menu > li label {
  display: block;
}

#smpl_zoom_area,
.smpl_imgedit_border {
  border-top: solid 1px rgb(166.4, 166.4, 166.4);
  vertical-align: middle;
  margin-bottom: 0.1em;
}

.smpl_imgedit_border {
  display: none;
}

label.smpl,
button.smpl {
  font-weight: 700;
}

span.smpl,
td.smpl {
  font-weight: 500;
}

label.smpl_label {
  display: inline-block;
  border-style: outset;
  border-width: 2px;
  border-color: #D0D0D0;
  border-radius: 0.2em;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px 2px 2px 2px;
  text-align: center;
  background-repeat: no-repeat;
}

label.smpl_label:hover {
  background-color: rgb(160.7739130435, 202.652173913, 228.8260869565);
  cursor: pointer;
}

button.smpl_label {
  background-position-y: center;
}

.smpl_imgedit_border > input,
.smpl_imgedit_border > select {
  vertical-align: middle;
  height: 1.6em;
}

.smpl_imgedit_border > input[type=checkbox],
.smpl_imgedit_border > label > input[type=checkbox] {
  height: var(--sp2);
}

.smpl_imgedit_border > input[type=color],
.smpl_imgedit_border > label > input[type=color] {
  max-width: 2em;
  border: none;
  height: var(--sp2) !important;
}

input[type=color] {
  width: var(--sp2) !important;
  vertical-align: middle;
}

input[type=number] {
  width: 5em;
  padding: 0 !important;
}

.smpl_input_narrow {
  width: 3.5em !important;
  padding: 0 !important;
  width: 3.5em !important;
}

.smpl_input_mid {
  width: 4.5em !important;
  padding: 0 !important;
  width: 4.5em;
}

.smpl_input_wide {
  width: 6em !important;
  padding: 0 !important;
  width: 6em;
}

.smpl_input_range_wide {
  width: 10em !important;
  padding: 0 !important;
}

.smpl_text_output {
  max-width: 50%;
  min-width: 6em !important;
  font-size: small !important;
}

.smpl_imgedit_border > input,
.smpl_imgedit_border > label > input {
  display: inline;
}

.smpl_input_text {
  width: 8em;
}

[type=color],
[type=date],
[type=datetime-local],
[type=email],
[type=file],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea {
  font-size: initial;
}

.smpl_readonly {
  border: none;
  text-align: right;
  width: 3em;
}

.smpl_imgedit_max {
  display: inline;
  width: 3em;
}

.smpl_slider {
  vertical-align: middle;
  display: inline;
  width: 6em;
}

.smpl_slider_wide {
  vertical-align: middle;
  display: inline;
  width: 10em;
}

#smpl_imgedit_buttons {
  clear: both;
  max-width: 100%;
  min-width: 200px;
  border-bottom: 1px solid #D0D0D0;
}

#smpl_imgedit_buttons,
div#SmplCanvasContainer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#smpl_graphicversion {
  font-size: 0.9em;
}

.smpl_img_edit_form_darkenbuttons {
  opacity: 0.4;
  cursor: auto !important;
}

/* --------- Help -------- */
.smpl_help {
  display: none;
  width: 75%;
  height: 99%;
  position: absolute;
  top: 11em;
  left: 100px;
  z-index: 1023;
  text-align: left;
  resize: both;
  cursor: grab;
}

#smpl_help_content {
  overflow: auto;
  width: 100%;
  height: 98%;
}

#smpl_help_close {
  background-repeat: no-repeat;
}
#smpl_help_close :hover {
  cursor: pointer;
}

label {
  display: inline;
}

body.smpl_waiting {
  cursor: progress;
}

input[readonly] {
  background: rgba(255, 255, 255, 0);
  max-width: 10em;
}

select#smpl_sortorder,
select#smpl_ascdesc {
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  border-right: 1px solid #CCC;
  border-color: #D0D0D0;
  border-radius: 3px;
  color: #333;
  width: 8em;
  text-align: left;
}

div.smpl_label {
  display: inline-block;
  margin: 2px;
  padding: 2px 2px 2px 2px;
  text-align: center;
  background-repeat: no-repeat;
}

#smpl_div_new,
#smpl_img_close {
  position: absolute;
  top: 1px;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 2px outset #D0D0D0;
}
#smpl_div_new :hover,
#smpl_img_close :hover {
  cursor: pointer;
}

#smpl_div_new {
  left: 1px;
}

#smpl_img_close {
  right: 1px;
}

label.smpl_label:hover {
  background-color: rgb(160.7739130435, 202.652173913, 228.8260869565);
  cursor: pointer;
}

.smpl_label_actual {
  background-color: rgb(160.7739130435, 202.652173913, 228.8260869565);
  filter: brightness(80%);
  cursor: default !important;
}

#smpl_img_back {
  background-color: #202020;
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#smpl_img_div {
  z-index: 1;
  border: 1px ridge #D0D0D0;
  padding: 0;
  max-height: 50vh;
  max-width: 50vw;
  margin: 0 auto;
  top: 25vh;
}

#smpl_img_box {
  display: block;
}

.smplslide_all {
  width: 100%;
  border: 1px solid #D0D0D0;
  border-radius: 0.2em;
  display: block;
  text-align: center;
}

.smplslide_picture,
.smplslide_pager {
  width: 100%;
  display: block;
}

.smplslide_item_container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.smplslideimg {
  cursor: pointer;
  display: flex;
  margin: auto auto !important;
  max-height: 100%;
  max-width: 100%;
  height: 600px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.smplslidetnimg {
  max-width: 90%;
}
.smplslidetnimg:hover {
  cursor: pointer;
}

#smplup,
#smplprev,
#smplnext,
#smpldown {
  background-color: rgba(8, 8, 8, 0.5);
  color: white;
  font-weight: 500;
  padding: 0.4em;
  border: 1px solid #D0D0D0;
  border-radius: 0.2em;
  margin: 0.2em;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  z-index: 2;
  cursor: default;
}
#smplup:hover,
#smplprev:hover,
#smplnext:hover,
#smpldown:hover {
  cursor: pointer;
}

#smplup {
  top: 0%;
  left: 48%;
}

#smplprev {
  top: 50%;
  left: 1%;
}

#smpldown {
  top: 90%;
  left: 48%;
}

#smplnext {
  top: 50%;
  left: 92%;
}

.smplslidetn_list_container {
  display: flex;
  justify-content: space-between;
  max-height: 200px;
}

.smplslidetn_container {
  width: 15%;
  display: flex;
  align-items: center;
  padding: 1px;
}

.smplslidetn_middle {
  border: 1px solid #D0D0D0;
}

/* Search in files */
input#smpl_filter {
  width: 8em !important;
  min-width: 5em !important;
  font-size: small;
}

select#smpl_sortorder,
select#smpl_ascdesc,
select#smpl_rotate_deg,
select#smpl_mode,
select#smpl_kind,
select#smpl_filters,
select#smpl_geom,
.smpl_dropdown,
#smpl_utype {
  background-image: linear-gradient(45deg, transparent 50%, grey 50%), linear-gradient(135deg, grey 50%, transparent 50%), linear-gradient(to right, #EDF5FA, #EDF5FA);
  background-position: calc(100% - 10px) 0.7em, calc(100% - 5px) 0.7em, 100% 0;
  background-size: 0.4em 0.4em, 0.4em 0.4em, 1.5em 1.7em;
  background-repeat: no-repeat;
  max-width: 20em;
}

select#smpl_sortorder:focus,
select#smpl_ascdesc:focus,
select#smpl_rotate_deg:focus,
select#smpl_kind:focus,
select#smpl_mode:focus,
select#smpl_filters:focus,
select#smpl_geom:focus {
  background-image: linear-gradient(45deg, grey 50%, transparent 50%), linear-gradient(135deg, transparent 50%, grey 50%), linear-gradient(to right, lightgray, lightgray);
  background-position: calc(100% - 5px) 0.7em, calc(100% - 10px) 0.7em, 100% 0;
  background-size: 0.4em 0.4em, 0.4em 0.4em, 1.5em 1.7em;
  background-repeat: no-repeat;
  outline: 0;
}

.smpl_step,
.smpl_que {
  text-align: left;
  background-image: none;
  max-width: 2em;
  display: inline;
  width: 2em;
}

.smpl_left {
  text-align: left;
}

#smpl_kind,
#smpl_geom,
#smpl_mode {
  width: 5em;
}

#smpl_error {
  display: none;
  width: 75%;
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: #CCC;
  z-index: 1024;
  text-align: left;
  padding-top: 0.5em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  padding-bottom: 0.1em;
  resize: both;
  overflow: auto;
  border: 2px ridge #D0D0D0;
  border-radius: 0.2em;
}

#smpl_error_content {
  font-size: 0.8em;
  float: left;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#smpl_error_close {
  background-repeat: no-repeat;
  float: right;
}

#smpl_error_close:hover {
  background-repeat: no-repeat;
  float: right;
  cursor: pointer;
}

#smpl_wmparams {
  border-right: solid 1px #D0D0D0;
  padding-right: 0.5em;
}

#smpl_wmbutton {
  padding-left: 0.5em;
}

/* test area */
.smpl_test {
  border-color: red !important;
}

.smpl_notes {
  border-bottom: 1px solid #D0D0D0;
}

#smpl_progress {
  position: fixed;
  padding: 1em;
  top: 47.5%;
  left: 54%;
  z-index: 128;
  border: 1px solid rgb(187.2, 187.2, 187.2);
  border-radius: 0.2em;
  background-color: #383838;
  color: #d7dadd;
  display: none;
  line-height: 0.8em;
  font-size: 0.8em;
}

#smpl_path {
  border-radius: 0.2em;
  border-style: groove;
  border-color: #D0D0D0;
  border-width: 1px;
}

#smpl-message {
  position: absolute;
  display: none;
  width: 50%;
  top: 11em;
  left: 100px;
  border: 1px solid rgb(187.2, 187.2, 187.2);
  border-radius: 0.2em;
  text-align: center;
  z-index: 256;
  padding: 0.5em;
}

#smpl-message-title {
  font-weight: 700;
}

#smpl-message-content {
  text-align: center;
  padding: 0.5em;
  font-size: small;
  font-weight: 600;
  color: white;
  line-height: 2em;
}

.smpl-message-error {
  background-color: #f88f8f;
  color: rgb(73.6, 4.6, 4.6);
}

.smpl-message-warning {
  background-color: #fde3cc;
  color: rgb(87.9509433962, 43.1132075472, 3.4490566038);
}

.smpl-message-notes {
  background-color: #f3faef;
  color: rgb(41.9142857143, 74.5142857143, 23.2857142857);
}

/* SWAL settings*/
.swal2-modal {
  border: 1px solid rgb(145.6, 145.6, 145.6);
  border-radius: 0.5em;
  transition: none !important;
  animation: none !important;
  padding: 0.5em;
}

div:where(.swal2-container) button:where(.swal2-styled) {
  padding: 1em 1.1em 1em 1.1em !important;
}/*# sourceMappingURL=smplphotoalbum.theme.css.map */