/* Default parameters*/
/* - end of default parameters -------*/
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\0000318}}
.smpl_table_all {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\0000322}}
.smpl_tr_a, .smpl_tr_b {
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\0000325}}
.smpl_tr_a {
  border-top: 1px solid #AAA;
  margin-top: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\0000329}}
.smpl_td {
  text-align: center;
  text-decoration: none;
  vertical-align: top;
}

/* The vote button settings */
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\0000336}}
.smpl_vote_plus {
  display: inline;
  width: 12px;
  height: 7px;
  border-width: 2px;
  border-style: outset;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\0000345}}
.smpl_vote_last,
.smpl_vote_number,
.smpl_view_last,
.smpl_view_number {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\0000352}}
.smpl_vote,
.smpl_view,
.smpl_size,
.smpl_exif,
.smpl_exif_div,
.smpl_date,
.smpl_desc_a,
.smpl_tax,
.smpl_list,
#smpl_list {
  text-align: center;
  font-size: 0.8em;
  line-height: 1.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\0000368}}
.smpl_tax {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\0000372}}
.smpl_vote {
  cursor: pointer;
  display: block;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\0000378}}
.smpl_sub_text,
.smpl_view_text,
.smpl_size_text,
.smpl_date_text {
  display: inline;
  border-width: 0;
  display: inline;
  width: 100%;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\0000389}}
.smpl_sub_text {
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\0000392}}
.smpl_sub {
  display: block;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\0000397}}
.smpl_img {
  border-style: ridge;
  border-width: 2px;
  border-color: #AAA;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003104}}
.smpl_img_mobile {
  border-style: ridge;
  border-width: 2px;
  border-color: #AAA;
  text-decoration: none;
  width: 100%;
}

/* css of properties */
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003114}}
.smpl_info {
  text-align: center;
  border-style: inset;
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: #AAA;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003125}}
.smpl_info_td {
  text-align: center;
  vertical-align: middle;
  font-size: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003130}}
.smpl_edit {
  text-align: center;
  cursor: pointer;
  padding: 2px;
  margin: 2px;
}

/* buttons */
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003137}}
.smpl_edit_all,
.smpl_cache_clear,
.smpl_vote_plus,
.smpl_imgedit_plus,
.smpl_edit_plus,
.smpl_delete_plus,
.smpl_kill_plus,
.smpl_fb_plus,
.smpl_url_plus,
.smpl_new_tax,
.smpl_tax_del,
.smpl_tax_add,
.smpl_sel,
#smpl_help_link,
#smpl_help_close,
#smpl_list {
  font-size: 0.8em;
  display: inline;
  cursor: pointer;
  border-radius: 3px 3px 3px 3px;
  background: none repeat scroll 0 0 #EDF5FA;
  border: 1px solid #AAA;
  font-weight: bold;
  margin: 2px;
  padding: 2px;
  text-align: center;
  background-repeat: no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003166}}
.smpl_imgedit_form_cancel,
.smpl_imgedit_form_save,
.smpl_imgedit_form_done,
.smpl_imgedit_form_undo,
.smpl_imgedit_form_redo,
.smpl_imgedit_form_thumb,
.smpl_edit_form_submit,
.smpl_edit_form_cancel {
  font-size: 0.8em;
  display: inline-block;
  border-radius: 5px;
  background: none repeat scroll 0 0 #EDF5FA;
  background-repeat: no-repeat;
  border-width: 4px;
  border-style: outset;
  border-color: #AAA;
  font-weight: bold;
  margin: 2px;
  padding: 2px 4px 2px 4px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003188}}
#smpl_help_link {
  background-position: left center;
  background-image: url("../image/b_help.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003192}}
#smpl_help_link:hover {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003196}}
#smpl_help_close {
  width: 12px;
  height: 12px;
  float: right;
  background-image: url("../image/b_close.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003203}}
.smpl_fb_plus {
  background-color: #3B56A1;
  color: white;
  border: none;
}

/* edit properties of all images*/
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003210}}
.smpl_edit_all {
  background-position: left center;
  background-image: url("../image/b_edit.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003214}}
.smpl_cache_clear {
  background-position: left center;
  background-image: url("../image/b_cache.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003218}}
.smpl_edit_all, .smpl_cache_clear {
  padding-left: 5px;
  padding-right: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003224}}
.smpl_edit_form_submit,
.smpl_edit_form_cancel,
.smpl_imgedit_form_done,
.smpl_imgedit_form_undo,
.smpl_imgedit_form_redo,
.smpl_imgedit_form_save,
.smpl_imgedit_form_thumb,
.smpl_imgedit_form_cancel,
.smpl_new_tax,
.smpl_tax_del {
  background-position: left center;
  cursor: pointer !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003238}}
.smpl_vote_plus,
.smpl_imgedit_plus,
.smpl_edit_plus,
.smpl_delete_plus,
.smpl_kill_plus,
.smpl_fb_plus,
.smpl_url_plus {
  background-position: center center;
}

/* Vote text */
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003250}}
.smpl_vote_text {
  font-size: 0.8em;
  display: inline;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #AAA;
  margin: 2px;
  padding: 2px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: left center;
}

/* Vote button */
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003264}}
.smpl_vote_plus {
  background-image: url("../image/vote.png");
  width: 24px;
  height: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003272}}
.smpl_edit_form {
  padding: 8px;
}

/* Button images on the left side of buttons */
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003277}}
.smpl_imgedit_plus {
  background-image: url("../image/b_imgedit.png");
}

/* Edit button */
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003282}}
.smpl_edit_plus {
  background-image: url("../image/b_edit.png");
}

/* Delete button */
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003287}}
.smpl_delete_plus {
  background-image: url("../image/b_delete.png");
}

/* Kill button */
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003292}}
.smpl_kill_plus {
  background-image: url("../image/b_drop.png");
}

/* New Taxonomy button*/
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003297}}
.smpl_new_tax {
  left: 20px;
  background-image: url("../image/b_add.png");
}

/* Delete Taxonomy button*/
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003303}}
.smpl_tax_del {
  background-image: url("../image/b_delete.png");
}

/* Taxonomy Add button*/
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003308}}
.smpl_tax_add {
  background-image: url("../image/b_arrow.png");
}

/* Edit Form submit button */
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003314}}
.smpl_edit_form_submit,
.smpl_imgedit_form_save {
  background-image: url("../image/b_save.png");
  margin: 10px 5px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003320}}
.smpl_imgedit_form_thumb {
  background-image: url("../image/b_thumb.png");
  margin: 10px 5px !important;
}

/* URL link button */
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003325}}
.smpl_url_plus {
  background-image: url("../image/b_link.png");
}

/* Edit form cancel button*/
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003330}}
.smpl_edit_form_cancel,
.smpl_imgedit_form_cancel {
  background-image: url("../image/b_cancel.png");
  margin: 10px 5px;
}

/* Edit form Select taxonomies button */
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003337}}
.smpl_sel {
  background-image: url("../image/b_browse.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003341}}
.smpl_imgedit_form_done {
  background-image: url("../image/b_done.png");
  margin: 10px 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003345}}
.smpl_imgedit_form_undo {
  background-image: url("../image/b_undo.png");
  margin: 10px 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003349}}
.smpl_imgedit_form_redo {
  background-image: url("../image/b_redo.png");
  margin: 10px 5px;
}

/* Taxonomy list */
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003354}}
#smpl_list_a {
  text-decoration: none !important;
}

/* Vote list */
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003359}}
.smpl_vote_select {
  font-size: 0.8em;
}

/* Pager */
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003364}}
.smpl_pager {
  margin-top: 4px;
  margin-bottom: 4px;
}

/* pager current page */
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003371}}
.smpl_pagerform {
  display: inline-flex;
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003375}}
.smpl_pagebutton {
  background-color: #c5dfef;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #AAA;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003380}}
.smpl_pager_current {
  background-color: #EDF5FA;
}

/* not current page */
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003385}}
.smpl_pagebutton {
  cursor: pointer;
  margin: 2px;
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
}

/* Image style */
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003395}}
.smpl_image {
  border-style: ridge;
  border-width: 4px;
  border-color: #AAA;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003401}}
.smpl_exif_table {
  /*border: 1 solid black;*/
  border: 1px solid #AAA;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0.1em !important;
  margin-top: 0.1em !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003412}}
.smpl_exif_td {
  text-align: right;
  max-height: 1em;
  height: 0.8em;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #AAA;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003420}}
.smpl_detailed_exif_info {
  position: absolute;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  background-color: #EDF5FA;
  padding: 2px;
  z-index: 256;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003432}}
.smpl_desc_title {
  border-bottom-width: 1px;
  border-bottom-color: #AAA;
  border-bottom-style: solid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003437}}
.smpl_desc_info {
  display: none;
  position: absolute;
  text-align: left;
  border-width: 1px;
  border-style: solid;
  background-color: #EDF5FA;
  padding: 2px;
  z-index: 256;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003450}}
select#smpl_sortsource, select#smpl_sort,
select#smpl_filtersource, input#smpl_filtertext {
  width: 100px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  border-right: 1px solid #CCC;
  border-color: #AAA #AAA #AAA;
  border-image: none;
  border-radius: 3px;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003465}}
.smpl_order_box {
  font-size: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003468}}
.smpl_filter_box {
  /*display:inline;*/
  font-size: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003472}}
#smpl_stat_table, .smpl_stat_row, .smpl_stat_td {
  border: 1px solid #AAA;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003476}}
.smpl_stat_tdleft {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003479}}
.smpl_stat_tdval {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003483}}
tr.even {
  background-color: #E0E0F0;
  border: 1px solid #AAA;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003488}}
tr.odd {
  background-color: #E7E7FF;
  border: 1px solid #AAA;
}

/* visibility, position, etc*/
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003494}}
div#SmplEditForm {
  display: none;
  z-index: 1023;
  position: absolute;
  left: 50%;
  top: 10%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003503}}
div#SmplEditForm > table > tr > td {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003506}}
div#SmplEditFormData {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

/* only the parameters of view*/
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003513}}
.smpl_edit_form,
.smpl_imgedit_form {
  background-color: #EDF5FA;
  border-style: ridge;
  border-width: 4px;
  border-color: #AAA;
}

/* Img Edit css settings */
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003522}}
.smpl_imgedit_form {
  padding: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003526}}
div.smpl_imgeditform_container {
  padding: 0.1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003529}}
.smpl_imgedit_title {
  text-align: center;
  font-weight: bold;
  border-bottom-width: 1px;
  border-bottom-color: #AAA;
  border-bottom-style: solid;
  margin-bottom: 0.1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003538}}
.smpl_imgedit_img {
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003542}}
div#smpl_imgedit_title {
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003545}}
div#smpl_imgedit_filename {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003548}}
div#smpl_imgeditform_container {
  float: left;
  max-width: 65%;
  max-height: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003551}}
div#SmplImgEditForm {
  display: none;
  /*display:block; // for testing purposes */
  z-index: 1023;
  position: absolute;
  left: 45%;
  top: 10%;
  resize: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003561}}
div#SmplImgEditForm > table > tr > td {
  text-align: left;
}

/* Taxonomy css settings*/
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003569}}
div.smpl_div_taxonomy {
  border-style: solid none solid none;
  border-color: #AAA;
  border-width: 1px;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003577}}
select#smpl_sel_tax {
  max-width: 150px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003581}}
select#smpl_sel_tax > option {
  max-width: 150px;
}

/* Rangom image style*/
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003586}}
.smpl_randomimage {
  max-width: 150px;
  border-style: ridge;
  border-width: 4px;
  border-color: #AAA;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003593}}
.smpl_imgeditborder {
  /*padding-bottom:0.1em;*/
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #AAA;
  vertical-align: middle;
  margin-bottom: 0.1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003602}}
div#imgedit_actions {
  float: left;
  min-width: 200px;
  /*max-width: 35%; */
  max-height: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003609}}
.smpl_imgedit_cl {
  display: inline;
  max-width: 3.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003613}}
.smpl_imgedit_max {
  display: inline;
  max-width: 3.1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003618}}
.smpl_slider {
  vertical-align: middle;
  display: inline;
  max-width: 80px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003624}}
#smpl_imgedit_actions {
  font-size: 0.85em;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003629}}
div.smpl_mobile_div {
  float: left;
  border-bottom: 1px solid #f0f0f0;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* Help */
@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003637}}
.smpl_help {
  display: none;
  width: 75%;
  border: 1px solid grey;
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: #ccc;
  z-index: 1023;
  text-align: left;
  padding: 0.5em;
  resize: both;
  overflow: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003651}}
#smpl_help_content {
  float: left;
  width: 100%;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003657}}
label {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/g\:\/wwwroot\/fw\/sites\/all\/modules\/smplphotoalbum\/sass\/smpl\.scss}line{font-family:\00003661}}
body.smpl_waiting {
  cursor: progress;
}
